.navbar{
    height: 70px;
    background-color: rgb(222, 186, 255);
    padding: 0.5rem 1rem;
    justify-content: flex;
}

.navbar a{
    text-decoration: none;
    justify-content: center;
    color: black;
    padding: 1rem;
}

.navbar img{
    height: 50px;
    max-height: 50px;
}