{% extends "base.html" %}

{% block content %}
<div class="faq">
    <div class="faq_tittel">
        <h1>FAQ - Frequently asked questions</h1>
    </div>
    <h2>Hvordan lager jeg planer?</h2>
    <p>
        For å lage planer må du starte med å lage en bruker også logge inn. Når du er logget inn ser du et felt med teksten "Aktivitet" til venstre. Da trenger du kun å skrive inn øvelsen/aktiviteten du ønsker å fullføre også klikke "Lagre plan".
    </p>
    <h2>Hva gjør jeg hvis jeg har spørsmål anngående siden</h2>
    <p>
        Hvis du har spørsmål angående siden kan du referere deg till denne FAQ siden da siden inneholder svar på de fleste spørsmål.
    </p>
    <h2>Hva kan jeg bruke siden til?</h2>
    <p>
        Denne nettsiden er designet for å få en mer oversiktlig treningsøkt. Du kan fylle inn hva slags øvelser du ønsker å gjøre også kan du alltid komme tilbake til denne listen med øvelser senere.
    </p>
    <h2>Hvorfor kan jeg ikke navigere meg tilbake til Login siden ved hjelp av ikonet?</h2>
    <p>
        Du kan dessverre ikke navigere deg tilbake til login siden da ikonet er laget for å vsie logoen til bedriften. Denne er kun til dekor. Hvis du ønsker å navigere deg tilbake til logg inn siden kan du klikke på "login" som står øverst i navigasjonsbaren.
    </p>
</div>
{% endblock %}